VITE_APP_ID=
JWT_SECRET=any_random_string_123
DATABASE_URL="mysql://3Dss1DsRfC4Vt1i.root:9WHAon2KEJskCt5i@gateway01.ap-southeast-1.prod.aws.tidbcloud.com:4000/test?sslaccept=strict"
OAUTH_SERVER_URL=
OWNER_OPEN_ID=
BUILT_IN_FORGE_API_URL=
BUILT_IN_FORGE_API_KEY=
